/* src/widgets/UserInfo.css */
.userinfo-container {
    width: 100%; /* 전체 너비 사용 */
    max-width: 390px; /* 최대 너비 설정 */
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.2); /* 매우 투명한 그레이색 */
    border-radius: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0 auto; /* 중앙 정렬 */
}

.userinfo-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.userinfo-name {
    font-weight: bold;
    font-size: 16px; /* 폰트 크기 조정 */
}

.userinfo-description {
    margin-top: 8px; /* 여백 조정 */
    font-size: 14px; /* 폰트 크기 조정 */
}

.userinfo-tickets {
    margin-top: 12px; /* 여백 조정 */
    font-size: 14px; /* 폰트 크기 조정 */
}

.tickets-owned {
    color: #007bff; /* 파란색 글씨 */
    font-weight: bold;
}
